[Unit]
Description=Gunicorn instance for a Home Service Classification app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/home_service_classification
ExecStart=/home/ubuntu/home_service_classification/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5001 app:app
Restart=always

[Install]
WantedBy=multi-user.target